#privacy {
	margin-top: 55px;
  padding: 50px 0;
  min-height: 100vh;

  .privacy__inner {
    @include flex(space-between, flex-start);
    gap: 30px;
    flex-wrap: wrap;
  }

  .privacy__title {
    color: $white;
    margin-bottom: 30px;
  }

  .privacy__text {
    margin-bottom: 30px;
  }

  .privacy__back-btn,
  .privacy__copy {
    font-size: 16px;
    line-height: 24px;
    font-family: $SF_Pro_Bold, sans-serif;
    white-space: nowrap;
  }

  .privacy__back-btn {
    span {
      margin-left: 11px;
    }
    img {
      transition: $transition;
    }
    &:hover img {
      transform: translateX(-5px);
    }
  }

  .privacy__body {
    max-width: 689px;
    width: 100%;
    margin: 0 auto;
    &-wrapper {
      order: 1;
      width: 100%;
    }
  }

  .privacy__items {
    @include flex(flex-start, flex-start);
    flex-direction: column;
    gap: 30px;
  }

  .privacy__item-title {
    color: $white;
    margin-bottom: 30px;
  }

  .privacy__item-plate {
    color: $primary;
    font-family: $SF_Pro_Bold, sans-serif;
    border: 2px solid $primary;
    border-radius: 12px;
    padding: 8px 16px;
  }

  @include desktop {
    padding: 105px 0;

    .privacy__body-wrapper {
      order: 0;
      width: fit-content;
    }

    .privacy__title {
      margin-bottom: 50px;
    }

    .privacy__back-btn,
    .privacy__copy {
      margin-top: 20px;
    }
  }
}
