footer#footer.footer(data-aos="fade" data-aos-delay='400')
	.container 
		.footer__inner 
			+logoHorizontal("footer").footer__logo 
			.footer__main 
				p.footer__text  Smart Wallet image was created via a logo contest. Smart Wallet is a registered logo and brand identity. Its unauthorised use is prohibited.
				ul.footer__links 
					li.footer__link(data-terms-btn) Terms and Conditions
					li.footer__link
						+link("/privacy.html", "Privacy and Policy")
					li.footer__link.bold-text 
						+link("/", "Help +")