.terms-modal.modal(data-modal-terms)
	.modal__inner
		button.modal__close(data-terms-close)
		.modal__header
			h4.terms-modal__title Terms and Conditions for Crypto Wallet
			span.terms-modal__copy Smart Wallet © 2023
		.modal__content
			ul.terms-modal__list 
				li.terms-modal__item 
					h5.terms-modal__item-title By using this crypto wallet, you agree to the following terms and conditions:
				li.terms-modal__item 
					h5.terms-modal__item-title Non-Collection of Information:
					p.terms-modal__item-text The creators of this wallet explicitly state that we do not collect or store any information, including wallet addresses and private keys.
				li.terms-modal__item 
					h5.terms-modal__item-title No Responsibility for Losses:
					p.terms-modal__item-text The creators are not responsible for any losses, damages, or security breaches that may occur during the use of this wallet. You are solely responsible for your own cryptocurrency assets and security.
				li.terms-modal__item 
					h5.terms-modal__item-title No Contact from Creators:
					p.terms-modal__item-text The creators of this wallet will never initiate contact with you. Please be cautious of any unsolicited communication claiming to be from us.
				li.terms-modal__item 
					h5.terms-modal__item-title Security:
					p.terms-modal__item-text While we do not collect information, it's essential to take security measures to protect your assets, as we cannot guarantee complete security. Users are encouraged to follow best practices for safeguarding their private keys and wallet access.
				li.terms-modal__item 
					h5.terms-modal__item-title Terms of Use:
					p.terms-modal__item-text Your use of this wallet is subject to compliance with all applicable laws and regulations in your jurisdiction. Any misuse, illegal activities, or violations will result in the termination of your access to the wallet.
				li.terms-modal__item 
					h5.terms-modal__item-title Modification of Terms:
					p.terms-modal__item-text These terms may be updated or modified without prior notice. It is your responsibility to review the terms periodically.
				li.terms-modal__item 
					h5.terms-modal__item-title Disclaimer:
					p.terms-modal__item-text This wallet is provided "as is" without any warranties or guarantees. The creators make no representations or warranties regarding the accuracy, functionality, or reliability of the wallet.
				li.terms-modal__item 
					h5.terms-modal__item-title  Indemnity:
					p.terms-modal__item-text By using this wallet, you agree to indemnify and hold the creators harmless from any claims, losses, or damages, including legal fees.
				li.terms-modal__item 
					h5.terms-modal__item-title Termination of Service:
					p.terms-modal__item-text The creators reserve the right to terminate or suspend the wallet service at any time, without liability.
				li.terms-modal__item 
					h5.terms-modal__item-title Governing Law: 
					p.terms-modal__item-text These terms and conditions are governed by the laws of [Your jurisdiction]. By using this crypto wallet, you acknowledge and accept these terms and conditions. If you do not agree with these terms, please refrain from using the wallet.
				li.terms-modal__item 
					h5.terms-modal__item-title Non-Monetary Gain:
					p.terms-modal__item-text The creators of this wallet project do not, and will not, gain any monetary profit or financial benefits from its usage.
