doctype html
html(lang="en")
    head
        include ../sections/head

    body
        
        include ../sections/header
        
        block content
        
        include ../sections/footer
        
        include ../components/terms-modal